main {
    background-color: #fff;
    margin: 0 300px;
}

main h2 {
    margin: 30px 0;

    font-size: 24px;

    color: #000;

}

p {
    font-size: 17px;
    color: #777;
    width: 800px;
}

main article,
main section {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 40px;
}

.main-section-img {
    width: 230px;
    height: 195px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    margin: 0 40px;
}

.intro-img {
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/776364e6419216ffd84ddf8d8815711b.svg);
}

.transiction-div {
    border-bottom: 2px solid #e5e5e5a6;
    margin: 12px auto;
}

.love-section {
    display: flex;
    flex-direction: column;
}

.love-section h2 {
    text-align: center;
}

.love-divs {
    display: flex;
}


.love-img-div {
    width: 60%;
    height: 200px;
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/3816ddfd0658efd7bb713fd823053b82.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    margin: auto;
}

.love-article {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    padding: 0;
}

.love-article h2,
.love-article p {
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
    width: 100%;
}

.love-article h2 {
    font-size: 19px;
}

.love-article p {
    font-size: 14px;
}

.love-article span {
    color: rgb(47, 183, 247);
    font-weight: bold;
}

.img-article-div {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.img-div {
    margin: 0 20px;
}

.img-div img {
    width: 43px;
    height: 43px;
}

.turbine-img {
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/super/8183c77cba99daf1e900fb5f9b0cc671.svg);
}

.turbine-section {
    display: flex;
}

.learn-section {
    display: flex;
    justify-content: space-between;
}

.learn-div {
    width: 700px;
}

.learn-img {
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/791b23bc8994589efad21ce964d99161.svg);
    height: 300px;
}

.appstores-div {
    display: flex;
    flex-direction: row;

    margin-top: 25px;
}

.app-div {
    width: 200px;
    height: 60px;
    border: solid rgb(129, 128, 128) 1px;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 30px;
}

.app-div svg {
    height: 45px;
    width: 45px;
}

.appstores-div .apple {
    margin-right: 10px;
}

.appstores-div .android {
    margin-left: 20px;
}

.app-div p,
.app-div span {
    width: fit-content;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 3px 0;

    font-size: 16px;
    font-weight: bold;
}


.schools-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.schools-img {
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/af5bf404fb8ea1ff96fdc9247a1e36e0.svg);
}

.main-link {
    color: #1cb0f6;
    font-weight: bold;
    text-transform: uppercase;

    margin-top: 20px;
}

.tests-section {
    display: flex;
    flex-direction: row;
}

.tests-img {
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/9cb1bd734855384c2de08fe80443af9f.svg);
}

.courses-img {
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/efficacyPage/5b117228254f9a9d8c7f541734f18225.svg);
}

.courses-section {
    display: flex;
    flex-direction: row;
}